/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.widget {
    width: 340px;
    height: 215px;
    background-color: #e9e9e9;
    padding: 9px;

}

.widget__title {
    height: 35px;
    border-bottom: 2px solid #cccccc;
}

.widget__body {
   
}
