/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
}

.widget {
    width: 373px;
    height: 312px;
    background-color: #510207;
    text-align: center;
    padding: 7px;
    font-family: Arial, "Sans Serif", sans-serif;
}

.widget__text {
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 2px solid #dcdcdc;
    line-height: 25px;
}

.widget__product {
    background-color: #ffffff;
    padding: 25px 0;
}

.widget__product--text, .widget__product--countdown {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

.widget__product--title {
    color: #1f6205;
    font-weight: bold;
}

.widget__cta {
    background-color: #0a0a0a;
    padding: 15px 0;
}

.widget_cta-link {
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    display: inline-block;
    background-color: #fa8d00;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.widget_cta-link:before {
    padding-right: 5px;
    content: url(images/law.png);
}