/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    width: 1209px;
    height: 466px;
    background-color: #ffffff;
    color: #313751;
    padding: 7px;
    font-family: Arial, "Sans Serif", sans-serif;
    margin: auto
}

footer {
    width: 100%;
    margin: 0.6em;
}

.footer__top-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.footer__col-text {
    flex: 1 28%;
}

.col-text__title {
    width: 280px;
    line-height: 25px;
}

.col-text__social-icons .fab {
    border: 1px solid #e2e5ee;
    border-radius: 5px;
    color: #393d4c;
    padding: 7px;
    margin-top: 20px;
}

.footer__col-nav {
    flex: 1 11%;
    padding-left: 0px;
}

.col-nav__title {
    font-weight: bold;
}

.col-nav__menu {
    list-style: none;
    padding-top: 25px;
}

.col-nav__item {
    line-height: 36px;
}

.footer__bottom-row {
    clear: both;
    padding-top: 30px;
    border-top: 2px solid #d5d8e5;
    font-size: 13px;
    font-weight: bold;
}